@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,600&display=swap');

html,
body {
    font-family: 'Josefin Sans';
    background-color: #F1F1E6;
    height: 100%;
    width: 100%;
    margin: 0;

}

/* smartphones (portrait) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

    html,
    body {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .servicesListWrap,
    .services,
    .basicClean,
    .deepClean,
    .moveInOut,
    .bedrooms,
    .bathrooms,
    .kitchens {
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .servicesListWrap {
        position: relative;
        height: 500px;
        width: 80%;
        transition: 0.1s;
        flex-flow: column;
        display: ;
    }

    .services,
    .basicCleanWrap,
    .basicClean,
    .deepClean,
    .deepCleanWrap,
    .moveInOut,
    .moveInOutWrap {
        position: relative;
        height: 125px;
        width: 100%;
        font-size: 27px;
        font-weight: 100;
        transition: 0.1s;
        

    }

    .services {
        font-weight: 300;
        z-index: 1;
    }

    .optionsWrap {
        position: absolute;
        height: 500px;
        width: 80%;
        display: flex;
        flex-flow: column;
        display: none;

    }

    .bedrooms,
    .bathrooms,
    .kitchens {
        position: absolute;
        height: 125px;
        width: 100%;
        font-size: 27px;
        font-weight: 100;


    }

    .kitchens {
        bottom: 0;

    }

    .bathrooms {
        bottom: 125px;
    }

    .bedrooms {
        bottom: 250px;
    }

    .numberOf-inputText {
        position: absolute;
        bottom: 10px;
        outline: none;
        border: none;
        width: inherit;
        height: 30px;
        text-align: center;
        font-family: 'Josefin Sans';
        font-size: 25px;
        background: #C5CEC296;
        box


    }



}

/* iPad (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {}

/* iPad pro (portrait) ----------- */
@media only screen and (min-device-width: 1024px) and (max-device-height: 1366px) and (orientation: portrait) {}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {}