@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,600&display=swap');

html,
body {
    font-family: 'Josefin Sans';
    background-color: #F1F1E6;
    height: 100%;
    width: 100%;
    margin: 0;

}

/* smartphones (portrait) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

    html,
    body {
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .listContainer,
    .service,
    .bedroom,
    .bathroom,
    .kitchen {
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .listContainer {
        position: absolute;
        height: 500px;
        width: 70%;
        flex-flow: column;
        justify-content: space-around;
    }

    .service,
    .bedroom,
    .bathroom,
    .kitchen {
        position: relative;
        height: 70px;
        width: 100%;
        font-size: 25px;
        font-weight: 300;
    }

}

/* iPad (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {

    html,
    body {
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .listContainer,
    .service,
    .bedroom,
    .bathroom,
    .kitchen {
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .listContainer {
        position: relative;
        height: 700px;
        width: 70%;
        flex-flow: column;
        justify-content: space-around;
    }

    .service,
    .bedroom,
    .bathroom,
    .kitchen {
        position: relative;
        height: 115px;
        width: 100%;
        font-size: 35px;
        font-weight: 300;

    }

}

/* iPad pro (portrait) ----------- */
@media only screen and (min-device-width: 1024px) and (max-device-height: 1366px) and (orientation: portrait) {

    html,
    body {
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .listContainer,
    .service,
    .bedroom,
    .bathroom,
    .kitchen {
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .listContainer {
        position: relative;
        height: 875px;
        width: 70%;
        flex-flow: column;
        justify-content: space-around;
    }

    .service,
    .bedroom,
    .bathroom,
    .kitchen {
        position: relative;
        height: 145px;
        width: 100%;
        font-size: 50px;
        font-weight: 300;

    }

}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {

    html,
    body {
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .listContainer,
    .service,
    .bedroom,
    .bathroom,
    .kitchen {
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .listContainer {
        position: relative;
        width: 100%;
        height: 100px;
        flex-flow: row;
        justify-content: space-evenly;
    }

    .service,
    .bedroom,
    .bathroom,
    .kitchen,
    .basicClean,
    .deepClean,
    .movingInOut {
        position: relative;
        font-size: 50px;
        font-weight: 100;
        cursor: pointer;

    }

    .basicClean,
    .deepClean,
    .movingInOut {
        display: none;
    }


}